
section {
    border: 1px solid #ccc;
    width: 60vw;
    margin: 50px auto;
    padding: 16px;
}

h1 {
    font-size: 4rem;
    text-align: center;
}

@media screen and (width:790px) {
    h1 {
        color: red;
        font-size: 3rem;
    }
}